@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts/basement-grotesque.css";

html,
body,
#__next {
  height: 100%;
  background: black;
  color: white;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Basement Grotesque', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
